.container{
    height: 338px;
    width: 100%;
}

.flex_col{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
}

.siteUrl{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 22px;
    color: #444444;
    padding-top: 18px;
}

.flex_row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 411px;
    padding: 28px 0;
    font-weight: 700;
}

.flex_row button{
    height: 22px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    cursor: pointer;
}

.copyRight{
    height: 16px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.115em;
    color: #000000;
}

@media (max-width:450px){
    .flex_row{
        width: 327px;
    }

    .copyRight{
        letter-spacing: 0;
    }
}