.container{
    height: 800px;
    width: 100%;
    background-color: black;
    position: relative;
    color: #ffffff;
}

.container::after{
    content: '';
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    border-top: 3.12vw solid #ff000000;
    border-left: 50vw solid #ffffff;
    border-right: 50vw solid #ffffff;
}

.flex_col{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
    /* width: 926px; */
}

form{
    display: block;
    width: 926px;
}

input{
    width: 100%;
    background-color: #444444;
    color: #ffffff;
    padding: 12px 20px;
    border-radius: 6px;
    margin-bottom: 32px;
    margin-top: 10px;
    font-size: 18px;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    /* border: 2px solid #ccc; */
    border-radius: 6px;
    background-color: #444444;
    color: #ffffff;
    resize: none;
    margin-top: 10px;
    font-size: 18px;
}

input::placeholder,textarea::placeholder{
    font-size: 18px;
    font-family: 'Noto Sans';
    font-style: normal;
}

.btn{
    margin-top: 50px;
    width: 249px;
    height: 35px;
    background: #1EA1F5;
    border-radius: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.text{
    text-align: center;
    margin: 20px 0;
}

@media (max-width:950px){
    form,.text{
        width: 600px;
    }
}

@media (max-width:650px){
    form,.text{
        width: 360px;
    }
}

@media (max-width:375px){
    form,.text{
        width: 340px;
    }
}